body{
    font-family: "Open Sans", serif;
    width: 700px;

}
#glyph {
    font-size: 20px;
}

ul li{

    font-size: 20px;

}
h2{
    width: 100%;
    background-color: #1ed760;
    padding: 20px;
    color: white;
    font-size: 35px;
}
